@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/l7gAbjR61M69yt8Z8w6FZf9WoBxdBrGFuV6JABE.ttf) format('truetype');
}
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/l7gAbjR61M69yt8Z8w6FZf9WoBxdBrFivl6JABE.ttf) format('truetype');
}
